body{
    width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
background: -o-linear-gradient(to right, #f0e2bd, #afedab, #f288df); /* for opera*/
	background: -moz-linear-gradient(to right, #f0e2bd, #afedab, #f288df); /* for mozilla*/
	background: -webkit-linear-gradient(to right, #f0e2bd, #afedab, #f288df);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f0e2bd, #afedab, #f288df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mynav i{ 
	justify-content: space-around;
	margin: 4px;
	font-size: x-large;
}

.mynav i:hover{
	margin-left: 0px;
	margin-right: 0px;
	font-size: xx-large;
}

@keyframes openimg{
    100% {
        align-content: center;
        background-size: 200%;
    }
}
